<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Couscous Cloud</title>
</head>
<body>
	<h1>Welcome to...</h1>
	<img th:src="@{/images/couscous.jpg}" />
	
	<a th:href="@{/design}" id="design">  Design couscous</a>
</html>