<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>CousCous Cloud</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
	<h1>Design your CousCous!</h1>
	<img th:src="@{/images/couscous.jpg}" />

	<form method="POST" th:object="${design}">

		<span class="validationError"
			th:if="${#fields.hasErrors('ingredients')}"
			th:errors="*{ingredients}">Ingredient Error</span>

		<div class="grid">
			<div class="ingredient-group" id="semoules">
				<h3>Designate your semoule:</h3>
				<div th:each="ingredient : ${semoule}">
					<input name="ingredients" type="checkbox"
						th:value="${ingredient.id}" /> <span th:text="${ingredient.name}">INGREDIENT</span><br />
				</div>
			</div>

			<div class="ingredient-group" id="viandes">
				<h3>Pick your meat:</h3>
				<div th:each="ingredient : ${viande}">
					<input name="ingredients" type="checkbox"
						th:value="${ingredient.id}" /> <span th:text="${ingredient.name}">INGREDIENT</span><br />
				</div>
			</div>

			<div class="ingredient-group" id="legumes">
				<h3>Choose your cheese:</h3>
				<div th:each="ingredient : ${legume}">
					<input name="ingredients" type="checkbox"
						th:value="${ingredient.id}" /> <span th:text="${ingredient.name}">INGREDIENT</span><br />
				</div>
			</div>


			<div class="ingredient-group" id="sauces">
				<h3>Select your sauce:</h3>
				<div th:each="ingredient : ${sauce}">
					<input name="ingredients" type="checkbox"
						th:value="${ingredient.id}" /> <span th:text="${ingredient.name}">INGREDIENT</span><br />
				</div>
			</div>
		</div>

		<div>


			<h3>Name your couscous creation:</h3>
			<input type="text" th:field="*{name}" /> <span
				class="validationError" th:if="${#fields.hasErrors('name')}"
				th:errors="*{name}">Name Error</span> <br />

			<button>Submit your couscous</button>
		</div>
	</form>
</body>
</html>
