<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Couscous Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>
  
  <body>
  
    <h1>Your orders</h1>
    
    <ul>
      <li th:each="order : ${orders}">
        <span th:text="${order.placedAt}">DATE</span> -
        <span th:text="${order.deliveryName}">NAME</span>
        <ul>
          <li th:each="couscous : ${order.allCousCous}">
            <span th:text="${couscous.name}"></span> : 
            <span th:each="ingredient : ${couscous.ingredients}">
              <span th:text="${ingredient.name}">INGREDIENT</span>,
            </span>
          </li>
        </ul>
      </li>
    </ul>
  
  </body>

</html>
