<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Couscous Cloud</title>
</head>
<body>
	<h1>Welcome to...</h1>
	<img th:src="@{/images/couscous.jpg}" />
	
	 <form method="POST" th:action="@{/logout}" id="logoutForm">
      <input type="submit" value="Logout"/>
    </form>
	<a th:href="@{/design}" id="design">  Design couscous</a>
</html>